body {
	background: #e3e3e3;
	color: #0a1727;
}

a {
	color: #255adf;
    text-decoration: none;
}

code {
    color: black;
    background-color: #dadada;
}

body.resume-page .w {
    max-width: 960px;
}
