code {
    color: black;
    background-color: #dadada;
}

// Wider layout for resume page
body.resume-page .w {
    max-width: 960px;
}

a {
    text-decoration: none;
}

// Print styles are now in assets/css/print-resume.scss
